.Add-article {

}

.Header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Header-logo {
  animation: Header-logo-spin infinite 20s linear;
  height: 80px;
  text-align: center;
}

.Header-title {
  font-size: 1.5em;
}

.Header nav {
  display: flex;
  justify-content: space-between;
}

.Header nav ul {
  display: flex;
  margin-left: 0;
}

.Header li {
  margin-right: 20px;
  list-style: none;
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
